{:paths ["src"]
 :deps {weavejester/hiccup
        {:git/url "https://github.com/weavejester/hiccup"
         :git/sha "b6b12097ba973141fe87c1b4d6a27ddcce5d5929"}}
 :tasks {run {:doc "render a hiccup page" :main-opts ["-m" "app.core"]}}}
